<div class="content">
  <div class="text-description">
    <em>
      <a href="/texts/<%= text.id %>">
        Written in <%= text.created_at.strftime("%b/%d, %Y") %>
      </a>
    </em>
    <% if text.shelf %>
      / <a href="/shelves/<%= text.shelf %>"><%= text.shelf %></a>
    <% end %>
  </div>
  <div class="text">
    <%= text.to_html %>
  </div>
  <hr />
</div>
